@config "../../tailwind.config.js";

@import 'tailwindcss';
@import './ui.css';

/* === Dark Mode Variables === */
@layer base {
  :root {
    /* Light Mode */
    --color-background: #ffffff;
    /* white */
    --color-foreground: #0f172a;
    /* neutral-900 */
    --color-muted: #f8fafc;
    /* neutral-100 */
    --color-muted-foreground: #4b5563;
    /* neutral-600 */
    --color-border: #e5e7eb;
    /* neutral-200 */
    --color-ring: #e5e7eb;
    /* neutral-200 */
  }

  .dark {
    /* Dark Mode */
    --color-background: #0f172a;
    /* neutral-900 */
    --color-foreground: #f8fafc;
    /* neutral-100 */
    --color-muted: #1f2937;
    /* neutral-700 */
    --color-muted-foreground: #9ca3af;
    /* neutral-400 */
    --color-border: #4b5563;
    /* neutral-600 */
    --color-ring: #4b5563;
    /* neutral-600 */
  }
}
